<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="grid flex justify-content-center card">
    <div class="col-10 md:col-6 lg:col-4">
      <p-card>
        <div class="grid">
          <div class="col-12">
            <!--<div>
            <img class="imgLogo" src="https://static.vecteezy.com/system/resources/previews/001/193/785/non_2x/car-png.png" alt="">
            </div>-->
            <h2 class="text-center">
              Car Services
            </h2>
          </div>
          <div class="col-12">
            <label for="">Usuário:</label>
            <input type="text" pInputText  class="col-12"/>
          </div>
          <div class="col-12">
            <label for="">Senha:</label>
            <input type="text" pInputText  class="col-12"/>
          </div>
          <div class="col-12">
            <button pButton type="button" label="Entrar" class="col-12"></button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</body>
</html>